@model RaiteRaju.Web.Models.UserDetailsModel
@{
    Layout = "~/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.loading-indicator.min.js"></script>
<link type="text/css" rel="stylesheet" href="~/Content/css/jquery.loading-indicator.css" />
<script type="text/javascript">
    $.noConflict();
    jQuery("#diverror").hide();

    function fnCancel() {
        window.location.href = '@Url.Action("Login", "User")';
    }

    function validation() {
        var phone = jQuery("#txtPhoneNumber").val();
        var intRegex = /^[5-9]{1}[0-9]{9}$/;
        var message = "";


        if (jQuery("#txtUserName").val() == "") {
            message = message + "Please Enter Name.\n";
        }
        else if (/^[^<>'\"/`%-]*$/.test(jQuery("#txtUserName").val()) == false) {
            message = message + "Special characters(<>'\"/`%-) Are Not Allowed In Name.\n";
        }
        else if (jQuery("#txtUserName").val().length > 50 || jQuery("#txtPassword").val().length < 8) {
            message = message + "Name should be between 4 to 50 characters.\n";
        }

        if (jQuery("#txtPhoneNumber").val() == "") {
            message = message + "Please enter Phone Number.\n";
        }
        else if (intRegex.test(phone) == false) {
            message = message + "Please enter valid Phone Number.\n";
        }

        if (jQuery("#txtPassword").val() == "") {
            message = message + "Please enter Password.\n";
        }
        else if (/^[^<>'\"/`%-]*$/.test(jQuery("#txtPassword").val()) == false) {
            message = message + "Special characters(<>'\"/`%-) are not allowed in Password.\n";
        }
        else if (jQuery("#txtPassword").val().length > 20 || jQuery("#txtPassword").val().length < 8) {
            message = message + "Password should be between 8 to 20 characters\n";
        }

        if (message == "") {
            return true;
        }
        else {
            alert(message);
            return false
        }
    }

    function fnRegistration() {
       
        var form = jQuery("#UserRegistration").serialize();
        var phoneNumber = jQuery("#txtPhoneNumber").val();
        if (validation()) {

            jQuery.ajax({
                type: 'POST',
                url: '@Url.Action("Registration", "User")',
                dataType: 'json',
                data: form,
                success: function (data) {

                    if (data == "success") {
                        jQuery('body').loadingIndicator();
                        jQuery("#UserRegistration")[0].reset();
                        window.location.href = '@Url.Action("Verification", "User")?MobileNumber=' + phoneNumber;
                    }
                    else { alert(data); }

                },
                error: function (data) {

                    alert("Some Error Occured");
                    jQuery("#diverror").show();
                }
            });
        }
    }

</script>
@{Html.EnableClientValidation();}
@{Html.EnableUnobtrusiveJavaScript();}

<div id="divSingUp">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                @using (Html.BeginForm("Registration", "User", FormMethod.Post, new { id = "UserRegistration" }))
                {
                    <h3 class="FormHeading">Enter your details to register with us</h3>
                    <label class="ResponseMessage"></label>
                    <div class="form-box clearfix">
                        <h3 class="form-heading text-center">Join Now</h3>
                        <div class="row">

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-right">
                                        <label for="txtUserName">Name<span class="MandatoryStars">*</span> :</label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                        @Html.TextBox("txtUserName", null, new { @class = "form-control", @placeholder = " Name" })
                                        <span class="error-msg" id="ErrortxtUserName">Please enter valid name</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-right">
                                        <label for="txtPhoneNumber">Phone Number<span class="MandatoryStars">*</span> :</label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                        <input type="text" class="form-control" id="txtPhoneNumber" name="txtPhoneNumber" placeholder="9999999999" maxlength="10">
                                        <span class="error-msg" id="ErrortxtUserName">Please enter a valid phone number</span>
                                    </div>                                    
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-right">
                                        <label for="txtPassword">Password<span class="MandatoryStars">*</span> :</label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                        <input type="password" class="form-control" id="txtPassword" name="txtPassword">
                                        <span class="error-msg" id="ErrortxtPassword">Please enter Password</span>
                                    </div>                                   
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                <div class="cta-actions">
                                    <input id="btnRegister" type="button" value="Submit Details" class="ghost-btn first last filled" onclick="fnRegistration()" />
                                    <br>
                                    <label style="font-size:10px;font-family:inherit">By creating account with ManaBandi, I agree to <a href="/Footer/TermsAndConditions">Terms and Conditions</a></label>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>





