################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RaiteRaju/v15
/.vs/ManaBandi/v15
/.vs/config
/RaiteRaju.DAL/obj/Debug/CoreCompileInputs.cache
/RaiteRaju.Web/Content/QRCode
