<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="You can sell or buy anything related to Agriculture. Like Chillies, Cotton, Rice, Maize, Animals, Fertilizers and pesticides, Organic pestisides, Land, Cow, Dairy Products, Milk etc..">
    <meta name="keywords" content="you can sell Chillies, Cotton, Rice, Maize, Animals, Fertilizers and pesticides, Organic pestisides, Land, Cow, Dairy Products, Milk etc..">
    <meta name="author" content="Katamaraju">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/svg" href="~/Content/images/logo.jpg" />
    <link href="~/Content/Bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Bootstrap/css/bootstrap-grid.min.css" rel="stylesheet" />
    <link href="~/Content/fonts/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/Style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width" />
    <title>Bella Cabs - Book any vehicle to travel or deliver goods</title>


    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
        $.noConflict();
        function fnLogout() {
            window.location.href = '/User/UserLogout';
        }
        jQuery(document).ready(function () {
            jQuery("#tabVehicles").click(function () {
                window.location.href = "/admin/VehicleDetails?intStateID=0&intDistrictID=0&intManadalID=0&VehicleTypeID=0&PageNumber=1";
            });
            jQuery("#tabOwners").click(function () {
                window.location.href = "/admin/OwnerDetails?intStateID=0&intDistrictID=0&intManadalID=0&VehicleTypeID=0&PageNumber=1";
            });
            jQuery("#tablRides").click(function () {
                window.location.href = "/admin/RideDetails?intStateID=0&intDistrictID=0&intManadalID=0&VehicleTypeID=0&PageNumber=1";
            });
            jQuery("#tabPriceCalculator").click(function () {
                window.location.href = "/admin/PriceCalculator";
            });
            jQuery("#tabAdViewStatistics").click(function () {
                window.location.href = "/admin/AdViewStatistics?PageNumber=1";
            });
            jQuery("#tabUserRegistration").click(function () {
                window.location.href = "/admin/UserRegistration";
            });
            jQuery("#tabReviewsForAdmin").click(function () {
                window.location.href = "/Admin/ReviewsForAdmin";
            });
            jQuery("#tabContactUsForAdmin").click(function () {
                window.location.href = "/Admin/ContactUs";
            });
            jQuery("#tabExceptions").click(function () {
                window.location.href = "/Admin/Exceptions";
            });

        });
    </script>

</head>


<body>
    <div id="MenuBar">
        <div class="container">
            <div class="row">
                <div class="col-lg-1 col-md-1 hidden-sm">
                </div>
                <div class="col-lg-1 col-md-2 col-sm-3  col-xs-3 py-2">
                    <a href="/Admin/AdminMain"><img id="logo" src="~/Content/images/logo.jpg" /></a>
                </div>
                <div class="col-lg-4 col-md-3 col-sm-9 col-xs-9">
                    <div style="padding-left:10px; height:50px;">
                        <span><a id="Title" href="/">Bella Cabs</a></span><br />
                        <span id="TagLine">Just call us to book any vehicle</span>
                    </div>
                </div>

                <div class="col-lg-1 col-md-1 d-none d-md-block">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 pt-4 text-right">
                    @if (Request.Cookies["_RRAUN"] == null)
                    {<a href="/User/Login" class="ghost-btn first last filled py-2" tabindex="-1">Log in</a>}

                    @if (Request.Cookies["_RRAUN"] != null)
                    {
                        <div class="dropdownMenu pt-2">
                            <span class="fa fa-user"></span>
                            <a id="UserLoggedInText" href="#">@Request.Cookies["_RRAUN"]["_RRAUN"] <span class="fa fa-angle-down"></span></a>

                            <div class="dropdown-content">
                                <a href="#" onclick="fnLogout()">Logout</a>
                            </div>
                        </div>
                        <span class="arrow-down" style="vertical-align:auto;"></span>}
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 pt-4 ">
                    <a href="/AddPost/AddPost" class="ghost-btn first last filled py-2" tabindex="-1">Post Your Ad</a>
                </div>

            </div>
        </div>
    </div>
    <div id="SubMenuBar">
        <div class="container">
            <div class="row nopadding">
                <div class="col-lg-1 d-none d-md-block">

                </div>
                <div class="col-lg-11 col-md-12 col-sm-11 col-xs-12 nopadding">
                    
                    <div class="topnav" id="myTopnav">
                        <a href="/admin/RideDetails?intStateID=0&intDistrictID=0&intManadalID=0&VehicleTypeID=0&PageNumber=1" id="tablRides" tabindex="-1">Ride Details</a>
                        <a href="/admin/VehicleDetails?intStateID=0&intDistrictID=0&intManadalID=0&VehicleTypeID=0&PageNumber=1" id="tabVehicles" tabindex="-1">Vehicles</a>
                        <a href="/admin/OwnerDetails?intStateID=0&intDistrictID=0&intManadalID=0&VehicleTypeID=0&PageNumber=1" id="tabOwners" tabindex="-1">Owners</a>
                        <a href="#" id="tabPriceCalculator" tabindex="-1">Price Calculator</a>
                        <a href="#" id="tabVerifyUsers" tabindex="-1">Users</a>
                        <a href="/Admin/ReviewsForAdmin" id="tabReviewsForAdmin" tabindex="-1">Reviews</a>
                        <a href="/Admin/ContactUs" id="tabContactUsForAdmin" tabindex="-1">Contact Us</a>
                        <a href="/Admin/Exceptions" id="tabExceptions" tabindex="-1">Exceptions</a>
                        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                            <i class="fa fa-bars"></i>
                        </a>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div>
        @RenderBody()
    </div>

    <div id="Divfooter">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <div style="padding-bottom:20px;">
                        <ul class="list-unstyled">
                            <li><a href="/Footer/AboutUs">About Us</a></li>
                            <li><a href="/Footer/AboutUs">How it works</a></li>
                            <li><a href="/">Privacy Policy</a></li>
                            <li><a href="/"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <div style="padding-bottom:20px;">
                        <ul class="list-unstyled">
                            <li><a href="/">Browse Ads</a></li>
                            <li><a href="/">Report An Issue</a></li>
                            <li><a href="/">Be a Partner</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <div style="padding-bottom:20px;">
                        <ul class="list-unstyled">
                            <li><a href="/">Browse Projects</a></li>
                            <li><a href="/">Categories</a></li>
                            <li><a href="/">Services</a></li>
                            <li><a href="/">Jobs</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <div style="padding-bottom:20px;">
                        <ul class="list-unstyled">
                            <li><a href="/">Contact Us</a></li>
                            <li><a href="/">Terms and Conditions</a></li>
                            <li><a href="/">Be a Partner</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div style="min-height:100px;">
                        <ul class="nav nav-pills">
                            <li class="FooterIconPadding"><a href="#"><img src="~/Content/images/FooterIcon1.jpg" alt="" class="social_MediaIcons" /></a></li>
                            <li class="FooterIconPadding"><a href="#"><img src="~/Content/images/FooterIcon2.jpg" alt="" class="social_MediaIcons" /></a></li>
                            <li class="FooterIconPadding"><a href="#"><img src="~/Content/images/FooterIcon3.jpg" alt="" class="social_MediaIcons" /></a></li>
                            <li class="FooterIconPadding"><a href="#"><img src="~/Content/images/FooterIcon4.jpg" alt="" class="social_MediaIcons" /></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
