<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-site-verification" content="BELLACABS.IN,bellacabs bella cabs" />
    <meta name="description" content="bella cabs Just call us to book any vehicle to travel outstation or to deliver goods">
    <meta name="keywords" content="bella cabs Just call us to book any vehicle to travel outstation or to deliver goods">
    <meta name="author" content="Katamaraju">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/svg" href="~/Content/images/BellaCabsLogo.jpg" />
    <link href="~/Content/Bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Bootstrap/css/bootstrap-grid.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/Style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width" />
    <title>Bella Cabs - Book any vehicle to travel or deliver goods</title>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
        $.noConflict();
        function fnLogout() {
            window.location.href = '/User/UserLogout';
        }
        function fnopenUserSettings() {
            window.location.href = '/User/UserAccount';
            fnshowUserSettings();
        }
        jQuery(document).ready(function () {
            jQuery("#tabHome").click(function () {
                window.location.href = '/';
            });
            jQuery("#tabAboutUs").click(function () {
                window.location.href = '/Footer/AboutUs';
            });
            jQuery("#tabPartner").click(function () {
                window.location.href = "/Footer/Partner";
            });
            jQuery("#tabHowToRegister").click(function () {
                window.location.href = "/Footer/HowToRegister";
            });
            jQuery("#tabHowToBook").click(function () {
                window.location.href = "/Footer/HowToBook";
            });
            jQuery("#tabPromotions").click(function () {
                window.location.href = "/Footer/Promotions";
            });
            jQuery("#tabContactUs").click(function () {
                window.location.href = "/Footer/ContactUs";
            });
            jQuery("#tabCareers").click(function () {
                window.location.href = "/Footer/Careers";
            });
        });


        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>
</head>
<body>

    <div id="MenuBar">
        <div class="container">
            <div class="row">
                <div class="col-lg-1 hidden-sm">
                </div>
                <div class="col-lg-1 col-md-2 col-sm-3  col-xs-3 py-2">
                    <a href="/"><img id="logo" src="~/Content/images/BellaCabsLogo.jpg" /></a>
                </div>

                <div class="col-lg-5 col-md-4 col-sm-9 col-xs-9">
                    <div style="padding-left:10px; height:50px;">
                        <span ><a id="Title" href="/">Bella Cabs</a></span><br />
                        <span id="TagLine">Just call us to book any vehicle</span>
                    </div>
                </div>

                @*<div class="col-lg-1 col-md-1 d-none d-md-block">
                </div>*@
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6 pt-4 text-right">
                    @if (Request.Cookies["_RRUN"] == null)
                    {<a href="/User/Login" class="dflt-btn inactive" tabindex="-1"><span class="fa fa-user"></span> My Account</a>}

                    @if (Request.Cookies["_RRUN"] != null)
                    {
                        <div class="dropdownMenu pt-2">
                            <span class="fa fa-user"></span>
                            <a id="UserLoggedInText" href="#">@Request.Cookies["_RRUN"]["_RRUN"] <span class="fa fa-angle-down"></span></a>

                            <div class="dropdown-content">
                                <a href="/User/UserAccount">My Details</a>
                                <a href="/Footer/ContactUs">Contact Us</a>
                                <a href="#" onclick="fnLogout()">Logout</a>
                            </div>
                        </div>
                        <span class="arrow-down" style="vertical-align:auto;"></span>}
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6 pt-4 ">
                    <a href="/Book/BookNow?VehicleTypeId=0" class="dflt-btn inactive" tabindex="-1">Book a vehicle</a>
                </div>
                
            </div>
        </div>
    </div>
    <div id="SubMenuBar">
        <div class="container">
            <div class="row nopadding">
                <div class="col-lg-1 d-none d-md-block">

                </div>
                <div class="col-lg-11 col-md-12 col-sm-11 col-xs-12 nopadding">
                    <div class="topnav" id="myTopnav">
                        <a href="/" tabindex="-1" id="tabHome">Home</a>
                        <a href="/Footer/AboutUs" id="tabAboutUs" tabindex="-1">About Us</a>
                        <a  href="/Footer/Partner" id="tabPartner" tabindex="-1">Be Our Partner</a>
                        <a href="/Book/PriceCalculator" id="tabHowToRegister" tabindex="-1">Calculate Price for ride</a>
                        <a href="/Footer/HowToBook" id="tabHowToBook" tabindex="-1">How To Book Vehicle</a>
                        <a href="/Footer/Promotions" id="tabPromotions" tabindex="-1" class="blink_me">Advertise With Us</a>
                        <a href="/Footer/ContactUs" id="tabContactUs" tabindex="-1">Contact Us</a>
                        <a href="/Footer/Careers" id="tabCareers" tabindex="-1">Careers</a>
                        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                            <i class="fa fa-bars"></i>
                        </a>
                    </div>

                </div>
                

            </div>
        </div>

    </div>

    <div>
        @RenderBody()
    </div>

    <div id="Divfooter">
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <div style="padding-bottom:20px;">
                        <ul class="list-unstyled">
                            <li><a href="/Footer/AboutUs">About Us</a></li>
                            <li><a href="/User/Registration">Register</a></li>
                            <li><a href="/Footer/TermsAndConditions">Privacy Policy</a></li>
                            <li><a href="/Footer/HowToBook">How to Book a Vehicle</a></li>
                            <li><a href="/"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <div style="padding-bottom:20px;">
                        <ul class="list-unstyled">
                            <li><a href="/Book/PriceCalculator">Check price for a ride</a></li>
                            <li><a href="/Footer/HowToRegister">How to Register</a></li>
                            <li><a href="/Footer/ReportIssue">Report an Issue</a></li>

                            <li><a href="#"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <div style="padding-bottom:20px;">
                        <ul class="list-unstyled">
                            <li><a href="/Footer/Reviews">Write a Review</a></li>
                            <li><a href="/Footer/Promotions">Be a Partner</a></li>
                            <li><a href="/Footer/Careers">Careers</a></li>
                            <li><a href="/Partner/DriverRegistration">Register as Driver</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <div style="padding-bottom:20px;">
                        <ul class="list-unstyled">
                            <li><a href="/Footer/ContactUs">Contact Us</a></li>
                            <li><a href="/Footer/TermsAndConditions">Terms and Conditions</a></li>
                            <li>@*<a href="/">Be a Partner</a>*@</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div style="min-height:100px;">
                        <ul class="nav nav-pills">
                            <li class="FooterIconPadding"><a href="https://play.google.com/store/apps/details?id=com.bella.bellacabsin" target="_blank"><img src="~/Content/images/PlayStore.png" alt="" class="social_MediaIcons" /></a></li>
                            <li class="FooterIconPadding"><a href="https://www.facebook.com/BellaCabs-109026393908551/" target="_blank"><img src="~/Content/images/FooterIcon1.jpg" alt="" class="social_MediaIcons" /></a></li>
                            <li class="FooterIconPadding"><a href="#" target="_blank"><img src="~/Content/images/FooterIcon2.jpg" alt="" class="social_MediaIcons" /></a></li>
                            <li class="FooterIconPadding"><a href="https://twitter.com/BellacabsI" target="_blank"><img src="~/Content/images/FooterIcon3.jpg" alt="" class="social_MediaIcons" /></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
