﻿
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    $.noConflict();
    jQuery().ready(function () {
        jQuery('#tabAboutUs').addClass('active');
    });
</script>

<div class="container">
    <div  class="row">
        <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <h3 class="FormHeading text-left">About Us</h3>
        <p class="font14">
            Our Motive is to help farmers in getting good price for their crop and cattle. Even buyers can get best quality goods when they buy things directly from farmers.
            This platform helps both the farmers and buyers for selling and buying goods. Here farmer's can post an advertisement of their product like Cotton, Rice, Chillies, Cows, Goats and Sunflower etc. with following details
            Quantity available with them,price which they are expecting, description if they want to say something and finally an image of their product.
            <br /><br />
            Posted advertisement will be available on online as soon as they post it after verification.
            Interested buyers can check the advertisements and directly call farmers to buy the crop and goods. Farmer details will be shown to registered buyers, so that they can contact them directly.
            Goods and livestock that can be posted on this platform are as below.
        </p>
        <ul style="padding-left:50px;" class="font14">
            <li>Cotton</li>
            <li>Rice </li>
            <li>Chilies</li>
            <li>Ground Nuts</li>
            <li>Red Gram</li>
            <li>Castor</li>
            <li>Maize</li>
            <li>Sugar Cane</li>
            <li>Sun Flower</li>
            <li>Goat</li>
            <li>Sheep</li>
            <li>Cow</li>
            <li>Buffalo</li>
            <li>Land</li>
            <li>Vegetables</li>
            <li>Equipment</li>
            <li>Others</li>
            <li>Ox</li>
            <li>Fish</li>
            <li>Prawns</li>
            <li>Handloom</li>
            <li>Fodder</li>
            <li>Fruits</li>
            <li>Dairy Products</li>
        </ul>
    </div>
</div>
    <div class="row py-5">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <h2 class="FormHeading py-2" style="text-align:left">Your can also reach us at</h2>
            <ul class="pl-4" style="font-size:14px;font-family:inherit">
                <li class="py-2">Founder & CEO of RaiteRaju<br />EmailID: CEO@raiteraju.in </li>
                <li class="py-2">Customer Care<br />EmailID: support@raiteraju.in<br />Phone No: 8310276613</li>
            </ul>
        </div>
    </div>
</div>



