@{
    ViewBag.Title = "HowToPost";
    Layout = "~/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    $.noConflict();
    jQuery().ready(function () {
        jQuery('#tabHowToBook').addClass('active');
    });

    jQuery(document).ready(function () {
        var width = jQuery("#DivHowToRegister").width()-30;
        var height = width - 150;
        if (jQuery(window).width() < 900) {
        jQuery("#DivHowToRegister img").css({ "width": width, "height": height });
        }
        else {
            jQuery("#DivHowToRegister img").css({ "width": "800px", "height": "450px" });
        }
    });
</script>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div id="DivHowToRegister">
                <h1 class="FormHeading" style="padding-bottom:50px;font-family:inherit">Please follow below steps for posting.</h1><br />

                
                        <label>Step1: After Log-in, Click on Submit Your Ad button as shown in below image.</label> 
                        <img src="~/Content/HelpImges/HowToPostAd.png" style="height:380px;width:800px;border:1px solid black" />
                        <label>Step2: Select Category of your Crop or Livestock that you want to sell, Enter Description, Quantity, Price and Selling Unit of your Crop/Livestock. </label>
                        <img src="~/Content/HelpImges/HowToPostAd1.png" style="height:450px;width:800px;border:1px solid black" />
                        <label>Step3: After Filling the details, Click on Submit button, Now your Ad will be displayed to users after verification.</label>
                        <img src="~/Content/HelpImges/HowToPostAd2.png" style="height:300px;width:800px;border:1px solid black" />
                        <label>Step4: If you want you can edit and update your Ad. Even You can upload new image of your crop.</label>
                        <img src="~/Content/HelpImges/HowToPostAd3.png" style="height:450px;width:800px;border:1px solid black" />

                   
            </div>
        </div>
    </div>
</div>

