@{
    ViewBag.Title = "TermsAndConditions";
    Layout = "~/Shared/_Layout.cshtml";
}

<title> BellaCabs</title>
<meta name="google-site-verification" content="BellaCabs,farmer,sell,land" />
<meta name="keywords" content="sell your crop at BellaCabs.in,BellaCabs.in,farmer,sell,Buy,land,cotton,rice,sunflower,buffalo,Cow,Andhrapradesh" />
<meta name="description" content="sell your crop at BellaCabs.in,BellaCabs.in,farmer,sell,Buy,land,cotton,rice,sunflower,buffalo,Cow,Andhrapradesh" />
<meta name="robots" content="index,follow" />

<div class="container">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <h3 class="FormHeading text-left">Terms and Conditions</h3>
            <p>
                PLEASE CAREFULLY READ THESE TERMS OF USE. BY USING THIS PLATFORM YOU INDICATE YOUR UNDERSTANDING AND ACCEPTANCE OF THESE TERMS. IF YOU DO NOT AGREE TO THESE TERMS YOU MAY NOT USE THE PLATFORM.


                <h2>Privacy Policy</h2>

                This Privacy Policy applies to the BellaCabs.in
                BellaCabs.in recognises the importance of maintaining your privacy. We value your privacy and appreciate your
                trust in us. This Policy describes how we treat user information we collect on http://www.BellaCabs.in and other
                offline sources. This Privacy Policy applies to current and former visitors to our website and to our online customers.
                By visiting and/or using our website, you agree to this Privacy Policy.

                <h3>Information we collect:</h3>
                When you visit the Platform, we may collect certain non-personal information such as your Internet Protocol ("IP") address, operating system, browser type, and Internet service provider.
                This type of information does not identify you personally. When you register with the Platform, we may also collect personal information that you provide such as your name, mailing address, email address, phone/mobile number, home country, zip code, and certain other information in event you log in via Facebook depending on your privacy settings including but not limited to your name, email address, profile picture, list of friends, education etc.
                ("Registration Information"). If you provide your phone number, it may be displayed in your posting. Further, if you have provided your phone number and posted an advertisement using your account,
                you agree to receive communications on the provided phone number from our side which may include but not be limited to automated calls or text messages.
                The communication may require you to confirm and verify that your account has been used to post the relevant advertisement on the Platform.
                We may also collect additional information that our users provide, such as new or deleted postings, new or deleted comments, keyword searches, scam reports and new contact sellers. We use a third-party payment gateway for purchases, and other third party companies to monitor site traffic, which may, in some instances, store your information.
                By using this Platform or the Service, you consent to collection, storage, and use of the personal information you provide for any of the services that we offer, and you consent to our collection of any changes or updates that you may provide to any information you provide that is collected by us.

                By using this Platform, you consent to sharing your geolocation data in order to publish information/advertisements of advertisements offered by users close to your location and vice-versa.

                <h3>Use of your personal information</h3>

                We use information for security purposes.​We may use information to protect our company, our customers, or our
                websites.

                We use information to send you transactional communications.​We might send you emails or SMS about your
                account.

                We may use information provided by you to: (i) enforce our Terms of Use, monitor user activity, such as keyword searches or new postings, and more effectively manage traffic on the Platform; (ii) provide customer services, create and manage user accounts; and (iii) assist you with technical difficulties. Also, we may share with third- party service providers certain information, such as your browser capabilities or operating system, that we have collected in order to better understand which advertisements and services may interest you. We may block users located in certain countries from using the Platform. We may retain such information for as long as is required to fulfil our business objective, even after your account is terminated.

                <h3>Protecting Your Personal Information</h3>
            <p>
                You are a valued customer, and we recognize that protecting your privacy is important to you. For this reason, we are committed to protecting the personal information you provide in a variety of ways. We do not directly process any payments and do not store your credit card information. Secured socket layer ("SSL") technology is used for processing payment transactions with third- party service provider partners, such as PayU, PayPal, and DineroMail. Your Registration Information may be protected by a unique customer password and user ID. You should not disclose your password information to anyone and you should always remember to log off if using a shared computer. Lastly, you may utilize the Platform as an anonymous user by not registering. We have taken certain security protections in safeguarding your personal information. However, as with most electronic transactions, no method is 100% safe. While we strive to use a commercially acceptable means to protect the personal information you provide, we cannot guarantee its security. Therefore, you acknowledge and agree that we assume no liability regarding the theft, loss, alteration or misuse of personal or other information or Content, including, without limitation, such information that has been provided to third parties or other users, or with regards to the failure of a third party to abide by the agreement between us and such third party. You may participate in our Forum or utilize our Comments feature. For postings to the Forum, your username will be posted. For postings using the Comments feature, your name and email will only be posted if you provide it in the comment. We strongly discourage posting any information on these features or in any Content posted by you that you do not want others to see. You agree that you are responsible for maintaining the confidentiality of your username and password, and all uses of your account, whether or not you have authorized such use.
            </p>
            <h3>
                Accessing and Modifying Personal Information and Communication Preferences
            </h3>
            You may access, remove, review, and/or make changes to personal information that you have provided to us via the <a href="/Footer/ContactUs">ContactUS form</a>. You need not register in order to post or respond to advertisements on the Platform. If you register or respond to advertisements or posts on the Platform or post any content on the Platform, we may send you certain notifications, advertisements, promotions, surveys, text messages, specials and phone calls in relation to the Services.. We may also send you any legally required notifications and certain notifications, including but not limited to, service related notices or notices regarding a change to any of our policies. For example, we may send you a notice regarding server problems or scheduled maintenance to the Platform. In order to opt-out of receiving these notices, you may need to deactivate your account. You can opt out of certain e-mail communications from us, including our newsletters, advice on buying and selling on the Platform, notifications that a user has commented on your posting, and notifications that you can refresh your posting. We will not change your preferences without your consent. You cannot opt out of receiving transactional communications from BellaCabs related to your account.

            <h3>
                Disclosures
            </h3>
            On rare occasions, we may be required to disclose your personal information due to legal or regulatory requirements. In such instances, we reserve the right to disclose your personal information as required in order to comply with our legal obligations, including but not limited to complying with court orders, warrants, subpoenas, service of process requirements, or discovery requests. We may also disclose information about our users to law enforcement officers or others, in the good faith belief that such disclosure is reasonably necessary to enforce these Terms and/or Privacy Policy; respond to claims that any Content violates the rights of third-parties; or protect the rights, property, or personal safety of BellaCabs, our users or the general public; or we are in notice of any criminal activity being conducted via the Platform. You agree and acknowledge that we may not inform you prior to or after disclosures made according to this section. If substantially all of our assets are sold or merged into another company, the acquiring company shall be given access to your personal information without your consent. If we sell only a part of our business, the acquiring entity shall have access to your personal information without your consent and we may send you a notice regarding this sale.

            <h3>
                Notification of Changes
            </h3>
            We reserve the right to change these Terms from time to time, and at our sole discretion. We may send you a notice regarding material changes to these Terms, including the Privacy Policy or the Platform. You should make note of the "last updated date" at the beginning of the Terms. With this information, you should be able to identify if the Terms have been updated recently.

            <h3>
                Disputes
            </h3>
            Any disputes regarding your privacy are subject to the Terms, including but not limited to any provisions related to indemnification, limitations on damages, and choice of law and forum.

            <h3>
                How to Contact Us
            </h3>
            If you have questions about this Privacy Policy, please contact BellaCabs via the <a href="/Footer/ContactUs">ContactUS form</a>.
            <h3>Sharing of information with third­parties</h3>
            <p>
                For making your good and crop sold out we may share your contact information with third parties.
            </p>
            <h3>
                Disclosures
            </h3>

            On rare occasions, we may be required to disclose your personal information due to legal or regulatory requirements.
            In such instances, we reserve the right to disclose your personal information as required in order to comply with our legal obligations,
            including but not limited to complying with court orders, warrants, subpoenas, service of process requirements, or discovery requests.
            We may also disclose information about our users to law enforcement officers or others, in the good faith belief that such disclosure is reasonably necessary to enforce these Terms and/or Privacy Policy;
            respond to claims that any Content violates the rights of third-parties; or protect the rights, property, or personal safety of BellaCabs, our users or the general public; or we are in notice of any criminal activity being conducted via the Platform.
            You agree and acknowledge that we may not inform you prior to or after disclosures made according to this section. If substantially all of our assets are sold or merged into another company, the acquiring company shall be given access to your personal information without your consent.
            If we sell only a part of our business, the acquiring entity shall have access to your personal information without your consent and we may send you a notice regarding this sale.


            <h2>DESCRIPTION OF SERVICE AND CONTENT POLICY</h2>
            BellaCabs is the next generation of online classifieds. We act as a Platform to allow our users who comply with these Terms to offer, sell, and buy products and services listed on the Platform.
            Although you may be able to conduct payment and other transactions through the Platform, using third-party vendors such BellaCabs is not in any way in involved in such transactions.
            As a result, and as discussed in more detail in these Terms, you hereby acknowledge and agree that BellaCabs is not a party to such transactions, has no control over any element of such transactions,
            and shall have no liability to any party in connection with such transactions. You use the Service and the Platform at your own risk.


            You understand that BellaCabs does not control, and is not responsible for ads, directory information, business listings/information, messages between users, including without limitation e-mails sent from outside BellaCabs’s domain or other means of electronic communication,
            whether through the Platform or another Third Party Website or offerings, comments, user postings, files, images, photerms of service, video, sounds, business listings/information and directory information or any other material made available through the Platform and the Service, and that by using the Platform and the Service,
            you may be exposed to Content that is offensive, indecent, inaccurate, misleading, or otherwise objectionable.
            You acknowledge and agree that you are responsible for and must evaluate, and bear all risks associated with, the use of any Content, that you may not rely on said Content, and that under no circumstances will BellaCabs be liable in any way for the Content or for any loss or damage of any kind incurred as a result of the browsing,
            using or reading any Content listed, e-mailed or otherwise made available via the Service. You acknowledge and agree that BellaCabs cannot and does not pre-screen or approve any Content, but that BellaCabs has the right,
            in its sole and absolute discretion, to refuse, delete or move any Content that is or may be available through the Service, for violating these Terms and such violation being brought to BellaCabs’s knowledge or for any other reason or no reason at all. Furthermore, the Platform and Content available through the Platform may contain links to other third party websites,
            which are completely unrelated to BellaCabs. If you link to Third Party Websites, you may be subject to those Third Party Websites’ terms and conditions and other policies. BellaCabs makes no representation or guarantee as to the accuracy or authenticity of the information contained in any such Third Party Website,
            and your linking to any other websites is completely at your own risk and BellaCabs disclaims all liability thereto.

            You acknowledge and agree that you are solely responsible for your own Content posted on, transmitted through, or linked from the Service and the consequences of posting, transmitting, linking or publishing it. More specifically, you are solely responsible for all Content that you upload,
            email or otherwise make available via the Service. In connection with such Content posted on, transmitted through, or linked from the Service by you, you affirm, acknowledge, represent, warrant and covenant that: (i) you own or have and shall continue to, for such time the Content is available on the Platform,
            have the necessary licenses, rights, consents, and permissions to use such Content on the Service and Platform (including without limitation all patent, trademark, trade secret, copyright or other proprietary rights in and to any and all such Content) and authorize BellaCabs to use such Content to enable inclusion and use of the Content in the manner contemplated by the Service,
            the Platform and these Terms; and (ii) you have the written consent, release, and/or permission of each and every identifiable individual person or business in the Content to use the name or likeness of each and every such identifiable individual person or business to enable inclusion and use of the Content in the manner contemplated by the Service,
            the Platform and these Terms. For clarity, you retain all of your ownership rights in your Content; however, by submitting any Content on the Platform, you hereby grant to BellaCabs an irrevocable, non-cancellable, perpetual, worldwide, non-exclusive, royalty-free, sub-licensable, transferable license to use, reproduce, distribute, prepare derivative works of,
            display, and perform the Content in connection with the Platform and BellaCabs's (and its successors') business, including without limitation for the purpose of promoting and redistributing part or all of the Platform and Content therein (and derivative works thereof) in any media formats and through any media channels now or hereafter known. These rights are required by BellaCabs in order to host and display your Content.
            Furthermore, by you posting Content to any public area of the Service, you agree to and do hereby grant to BellaCabs all rights necessary to prohibit or allow any subsequent aggregation, display, copying, duplication, reproduction, or exploitation of the Content on the Service or Platform by any party for any purpose. As a part of the Service, BellaCabs may offer the facility of automatically capturing of the "Description" of your ad based on the images uploaded by you.
            BellaCabs makes no warranty the veracity or the accuracy of the generated Description. The Description may be edited by you at any time while your ad is live. You also hereby grant each user of the Platform (a) a non-exclusive license to access your Content through the Platform;
            and (b) the right to contact you with regard to the Content posted by you through private chat or any other means. The foregoing license to each user granted by you terminates once you or BellaCabs remove or delete such Content from the Platform.
            Further, you grant BellaCabs the right to make available your Content to any third party in connection with the transaction contemplated in your classified advertisement.


            BellaCabs does not endorse any Content or any opinion, statement, recommendation, or advice expressed therein, and BellaCabs expressly disclaims any and all liability in connection with user Content.
            BellaCabs does not permit copyright infringing activities and infringement of intellectual property rights on the Platform, and BellaCabs may, at its sole discretion, remove any infringing Content if properly notified in accordance with applicable law that such Content infringes on another's intellectual property rights.
            BellaCabs reserves the right to remove any Content without prior notice. BellaCabs may also terminate a user's access to the Platform, if they are determined to be a repeat infringer or found to be indulging in any act contrary to these Terms.
            A repeat infringer is a user who has been notified of infringing activity more than twice and/or has had a user submission removed from the Platform more than twice. Further, at its sole discretion, BellaCabs reserves the right to decide whether any Content is appropriate and complies with these Terms.

            <h2>CONDUCT</h2>
            You agree not to post, email, host, display, upload, modify, publish, transmit, update or share any information on the Site, or otherwise make available Content:

            1. that violates any law or regulation;
            2. that is copyrighted or patented, protected by trade secret or trademark, or otherwise subject to third party proprietary rights, including privacy and publicity rights, unless you are the owner of such rights or have permission or a license from their rightful owner to post the material and to grant BellaCabs all of the license rights granted herein;
            3. that infringes any of the foregoing intellectual property rights of any party, or is Content that you do not have a right to make available under any law, regulation, contractual or fiduciary relationship(s);
            4. that is harmful, abusive, unlawful, threatening, harassing, blasphemous, defamatory, obscene, pornographic, paedophilic, libellous, invasive of another's privacy or other rights, hateful, or racially, ethnically objectionable, disparaging, relating or encouraging money laundering or illegal gambling or harms or could harm minors in any way or otherwise unlawful in any manner whatsoever;
            5. that harasses, degrades, intimidates or is hateful towards any individual or group of individuals on the basis of religion, gender, sexual orientation, race, ethnicity, age, or disability;
            6. that violates any (local) equal employment laws, including but not limited to those prohibiting the stating, in any advertisement for employment, a preference or requirement based on race, color, religion, sex, national origin, age, or disability of the applicant.
            7. that threatens the unity, integrity, defence, security or sovereignty of India, friendly relations with foreign states, or public order or causes incitement to the commission of any cognisable offence or prevents investigation of any offence or is insulting any other nation;
            8. that includes personal or identifying information about another person without that person's explicit consent;
            9. that impersonates any person or entity, including, but not limited to, an BellaCabs employee, or falsely states or otherwise misrepresents an affiliation with a person or entity;
            10. deceives or misleads the addressee about the origin of such messages or communicates any information which is grossly offensive or menacing in nature;
            11. that is false, deceptive, misleading, deceitful, misinformative, or constitutes "bait and switch" offer;
            12. that constitutes or contains "pyramid schemes," "affiliate marketing," "link referral code," "junk mail," "spam," "chain letters," or unsolicited advertisements of a commercial nature;
            13. that constitutes or contains any form of advertising or solicitation if (1) posted in areas or categories of the Platform which are not designated for such purposes; or (2) e-mailed to BellaCabs users who have requested not to be contacted about other services, products or commercial interests;
            14. that includes links to commercial services or Third Party Websites, except as specifically allowed by BellaCabs;
            15. that advertises any illegal services or the sale of any items the sale of which is prohibited or restricted by applicable law, including without limitation items the sale of which is prohibited or regulated by applicable law;
            16. that contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment or any other computer resource;
            17. that disrupts the normal flow of dialogue with an excessive number of messages (flooding attack) to the Service, or that otherwise negatively affects other users' ability to use the Service; or
            18. that employs misleading email addresses, or forged headers or otherwise manipulated identifiers in order to disguise the origin of Content transmitted through the Service.
            Additionally, you agree not to:

            19. contact anyone who has asked not to be contacted, or make unsolicited contact with anyone for any commercial purpose, specifically, contact any user to post advertisement on a third party website or post any advertisement on behalf of such user; or to "stalk" or otherwise harass anyone;
            20. make any libellous or defamatory comments or postings to or against anyone;
            21. collect personal data about other users or entities for commercial or unlawful purposes;
            22. use automated means, including spiders, robots, crawlers, data mining tools, or the like to download or scrape data from the Service, except for internet search engines (e.g,. Google) and non-commercial public archives (e.g. archive.org) that comply with our robots.txt file;
            23. post Content that is outside the local area or not relevant to the local area, repeatedly post the same or similar Content, or otherwise impose unreasonable or disproportionately large loads on our servers and other infrastructure;
            24. post the same item or service in multiple classified categories or forums, or in multiple metropolitan areas;
            25. attempt to gain unauthorized access to computer systems owned or controlled by BellaCabs or engage in any activity that disrupts, diminishes the quality of, interferes with the performance of, or impairs the functionality of, the Service or the Platform.
            26. use any form of automated device or computer program (sometimes referred to as "flagging tools") that enables the use of BellaCabs's "flagging system" or other community control systems without each flag being manually entered by a human that initiates the flag (an "automated flagging device"), or use any such flagging tool to remove posts of competitors, other third parties or to remove posts without a reasonable good faith belief that the post being flagged violates these Terms or any applicable law or regulation.
            27. use any automated device or software that enables the submission of automatic postings on BellaCabs without human intervention or authorship (an "automated posting device"), including without limitation, the use of any such automated posting device in connection with bulk postings, or for automatic submission of postings at certain times or intervals; or
            28. Any Content uploaded by you shall be subject to relevant laws and may disabled, or and may be subject to investigation under appropriate laws. Furthermore, if you are found to be in non-compliance with the laws and regulations, these terms, or the privacy policy of the Site, we may terminate your account/block your access to the Site and we reserve the right to remove any non-compliant Content uploaded by you.


            <h2>Abuse of BellaCabs</h2>
            <p>
                You agree to inform us if you come across any listing or posting that is offensive or violates our listing policy or infringes any intellectual property rights by clicking on the following link <a href="/Footer/ContactUs">ContactUS form</a> to enable us to keep the site working efficiently and in a safe manner. We reserve the right to take down any posting, listing or information and or limit or terminate our services and further take all reasonable technical and legal steps to prevent the misuse of the Site in keeping with the letter and spirit of this AUP and the listing policy. In the event you encounter any problems with the use of our site or services you are requested to report the problem by clicking on this link <a href="/Footer/ContactUs">ContactUS form</a>
            </p>

            <h2>Prohibition against unlawful use</h2>
            <p>
                As a condition of the use of the Website, the User warrants that they will not use the Website for any purpose that is unlawful or illegal under any law for the time being in force within or outside India or prohibited by this Agreement and/or the terms of service including both specific and implied. In addition, the Website shall not be used in any manner, which could damage, disable, overburden or impair it or interfere with any other party's use and/or enjoyment of the Website. The User shall refrain from obtaining or attempting to obtain any materials or information through any means not intentionally made available or provided for or through the Website.
            </p>
            <h2>Termination/Access restriction</h2>

            BellaCabs reserves the right, in its sole discretion, to terminate the access to the website and the related services or any portion thereof at any time, without notice.
            <h2> Proprietary rights</h2>

            <p>
                BellaCabs may provide the User with content such as sound, photographs, graphics, video or other material contained in sponsor advertisements or information. This material may be protected by copyrights, trademarks or other intellectual property rights and laws. The User may use this material only as expressly authorized by BellaCabs and shall not copy, transmit or create derivative works of such material without express authorization from BellaCabs.
            </p>
            <p>
                The User acknowledges and agrees that they shall not upload, post, reproduce or distribute any content on or through the Website that is protected by copyright or other proprietary right of a third party, without obtaining the permission of the owner of such right. Any copyrighted or other proprietary content distributed on or through the Website with the consent of the owner must contain the appropriate copyright or other proprietary rights notice. The unauthorized submission or distribution of copyrighted or other proprietary content is illegal and could subject the User to personal liability or criminal prosecution.
            </p>

            <h2>Indemnification</h2>

            The User agrees to indemnify, defend and hold harmless BellaCabs from and against any and all losses, liabilities, claims, damages, costs and expenses (including legal fees and disbursements in connection therewith and interest chargeable thereon) asserted against or incurred by BellaCabs that arise out of, result from, or may be payable by virtue of, any breach or non-performance of any representation, warranty, covenant or agreement made or obligation to be performed by the User pursuant to this Agreement and/or the terms of service.

            <h2>Termination of agreement and services</h2>

            <p>
                Either the User or BellaCabs may terminate this Agreement and a Service with or without cause at any time to be effective immediately.
            </p>

            <p>
                The User agrees that BellaCabs may under certain circumstances and without prior notice, immediately terminate the User's user id and access to the Website/Services. Causes for termination may include, but shall not be limited to, breach by the User of this Agreement or the terms of service, requests by enforcement or government agencies, requests by the User, non-payment of fees owed by the User in connection with the Services as specified in the applicable terms of service.
            </p>

            <p>
                This Agreement may be terminated by either the User or BellaCabs through a written notice to the other. BellaCabs shall not be liable to the User or any third party for termination of any Service. Should the User object to any terms and conditions of this Agreement, any terms of service or become dissatisfied with the Service in any way, the User's only recourse is to immediately: (a) discontinue use of the Website/Service; and (b) notify BellaCabs of such discontinuance.
            </p>
            <p>
                Upon termination of the Service, User's right to use the Website/Services and software shall immediately cease. The User shall have no right and BellaCabs shall have no obligation thereafter to execute any of the User's uncompleted tasks or forward any unread or unsent messages to the User or any third party. Once the User's registration or the Services are terminated, cancelled or suspended, any data that the User has stored on the Website may not be retrieved later.
            </p>

            <h2>USER SUBMISSIONS</h2>
            <p>
                You understand that when using the Platform, you will be exposed to Content from a variety of sources, and that BellaCabs is not responsible for the accuracy, usefulness, safety, or intellectual property rights of or relating to such Content, and you agree and assume all liability for your use. You further understand and acknowledge that you may be exposed to Content that is inaccurate, offensive, indecent, or objectionable, defamatory or libellous and you agree to waive, and hereby do waive, any legal or equitable rights or remedies you have or may have against BellaCabs with respect thereto.
            </p>
            <h2>
                NO SPAM POLICY
            </h2>

            <p>
                You understand and agree that sending unsolicited email advertisements or other unsolicited communications to BellaCabs email addresses or through BellaCabs computer systems are expressly prohibited by these Terms. You acknowledge and agree that from time to time BellaCabs may monitor email usage using human monitors or automated software to flag certain words associated with spam or scams in emails that are sent between one user to another in the BellaCabs e mail system. Any communication between yourself and any other user utilizing the communication features available on the Service and the Platform may be used only in accordance with the Terms. Any unauthorized use of BellaCabs computer systems is a violation of these Terms and certain applicable laws. Such violations may subject the sender and his or her agents to civil and criminal penalties.
            </p>
            <h2>DISCLAIMER OF WARRANTIES</h2>
            <p>
                YOU EXPRESSLY ACKNOWLEDGE AND AGREE THAT USE OF THE PLATFORM AND THE SERVICE IS ENTIRELY AT YOUR OWN RISK AND THAT THE PLATFORM AND THE SERVICE ARE PROVIDED ON AN "AS IS" OR "AS AVAILABLE" BASIS, WITHOUT ANY WARRANTIES OF ANY KIND. ALL EXPRESS AND IMPLIED WARRANTIES, INCLUDING, WITHOUT LIMITATION, THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT OF PROPRIETARY RIGHTS ARE EXPRESSLY DISCLAIMED TO THE FULLEST EXTENT PERMITTED BY LAW. TO THE FULLEST EXTENT PERMITTED BY LAW BellaCabs, ITS OFFICERS, DIRECTORS, EMPLOYEES, AND AGENTS DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, IN CONNECTION WITH THE PLATFORM AND YOUR USE THEREOF. BellaCabs MAKES NO WARRANTIES OR REPRESENTATIONS ABOUT THE ACCURACY OR COMPLETENESS OF THE PLATFORM'S CONTENT OR THE CONTENT OF ANY THIRD PARTY WEBSITES LINKED TO THE PLATFORM AND ASSUMES NO LIABILITY OR RESPONSIBILITY FOR ANY (I) ERRORS, MISTAKES, OR INACCURACIES OF CONTENT, (II) PERSONAL INJURY OR PROPERTY DAMAGE, OF ANY NATURE WHATSOEVER, RESULTING FROM YOUR ACCESS TO AND USE OF THE PLATFORM AND SERVICE, (III) ANY UNAUTHORIZED ACCESS TO OR USE OF OUR SERVERS AND/OR ANY AND ALL PERSONAL INFORMATION AND/OR FINANCIAL INFORMATION STORED THEREIN, (IV) ANY INTERRUPTION OR CESSATION OF TRANSMISSION TO OR FROM THE PLATFORM, (IV) ANY BUGS, VIRUSES, TROJAN HORSES, OR THE LIKE WHICH MAY BE TRANSMITTED TO OR THROUGH THE PLATFORM BY ANY THIRD PARTY, AND/OR (V) ANY ERRORS OR OMISSIONS IN ANY CONTENT OR FOR ANY LOSS OR DAMAGE OF ANY KIND INCURRED AS A RESULT OF THE USE OF ANY CONTENT POSTED, EMAILED, COMMUNICATED, TRANSMITTED, OR OTHERWISE MADE AVAILABLE VIA THE PLATFORM OR THE SERVICE. BellaCabs DOES NOT WARRANT, ENDORSE, GUARANTEE, OR ASSUME RESPONSIBILITY FOR ANY PRODUCT OR SERVICE ADVERTISED OR OFFERED BY A THIRD PARTY THROUGH THE PLATFORM OR ANY HYPERLINKED WEBSITE OR FEATURED IN ANY BANNER OR OTHER ADVERTISING, AND BellaCabs WILL NOT BE A PARTY TO OR IN ANY WAY BE RESPONSIBLE FOR MONITORING ANY TRANSACTION BETWEEN YOU AND/OR OTHER USERS AND/OR THIRD-PARTY PROVIDERS OF PRODUCTS OR SERVICES. AS WITH THE PURCHASE OF A PRODUCT OR SERVICE THROUGH ANY MEDIUM OR IN ANY ENVIRONMENT, YOU SHOULD USE YOUR BEST JUDGMENT AND EXERCISE CAUTION WHERE APPROPRIATE
            </p>
            <h2> ABILITY TO ACCEPT TERMS OF SERVICE</h2>

            <p>
                This Platform is intended only for adults and that you are eligible to contract as per applicable laws. If you are using/accessing this Platform as a representative of any person/entity, you acknowledge that you are legally authorised to represent that person/entity. Minors, i.e. users of under 18 years of age, are only allowed to access the Platform and use the Service, in the event of approval of their legal representatives or in the event that it concerns an act or a transaction that is usual and acceptable standard in civil life and practice. You affirm that you are either at least 18 years of age, or an emancipated minor, or possess legal parental or guardian consent, and are fully able and competent to enter into the terms, conditions, obligations, affirmations, representations, and warranties set forth in these Terms, and to abide by and comply with these Terms. In any case, you affirm that you are over the age of 13, as the Platform is not intended for children under 13.

                NOTICE TO CHILDREN UNDER THE AGE OF 13 AND THEIR PARENTS OR GUARDIANS If you are under the age of 13, YOU MUST NOT USE THIS PLATFORM. Please do not send us your personal information, including your email addresses, name, and/or contact information. If you want to contact us, you may only do so through your parent or legal guardian.
            </p>
            <h2>Cookie policy</h2>
            <p>we use cookies for website operations. Please take a note of it and continue to use our website</p>
            <h2>GENERAL INFORMATION</h2>
            <p>
                These Terms and the other policies posted on the Platform constitute the complete and exclusive understanding and agreement between you and BellaCabs and govern your use of the Service and the Platform superseding all prior understandings, proposals, agreements, negotiations, and discussions between the parties, whether written or oral. The Terms and the relationship between you and BellaCabs shall be governed by the laws of the Netherlands. Any claim you may have against BellaCabs must be submitted to the exclusive jurisdiction the courts of Amsterdam, The Netherlands. However, in the event that you are a consumer it may be that consumer law requires that another law is applicable and that a claim may be submitted to another jurisdiction. The failure of BellaCabs to exercise or enforce any right or provision of the Terms shall not constitute a waiver of such right or provision. If any provision of the Terms is found by a court of competent jurisdiction to be invalid (including, without limitation, because such provision is inconsistent with the laws of another jurisdiction) or inapplicable, the parties nevertheless agree that the court should endeavour to give effect to the parties' intentions as reflected in the provision. If any provision or provisions of these Terms is held to be invalid, illegal or unenforceable, the validity, legality and enforceability of the remaining provisions of the Terms shall not in any way be affected or be impaired. YOU AGREE THAT ANY CAUSE OF ACTION BROUGHT BY YOU AND ARISING OUT OF OR RELATED TO YOUR USE OF THE SERVICE AND/OR THE PLATFORM MUST COMMENCE WITHIN A REASONABLE TIME AND IN ANY EVENT WITHIN ONE (1) YEAR AFTER THE CAUSE OF ACTION ACCRUES, EXCEPT THAT BellaCabs MAY COMMENCE ANY SUCH CAUSE OF ACTION IN ACCORDANCE WITH THE APPLICABLE STATUTE OF LIMITATIONS UNDER DUTCH LAW. OTHERWISE, SUCH CAUSE OF ACTION IS PERMANENTLY BARRED. These Terms shall inure to the benefit of and be binding upon each party's successors and assigns.
            </p>
    </div>
</div>
</div>