@using RaiteRaju.ApplicationUtility;
@{
    Layout = "~/Shared/_Layout.cshtml";
}
<title> Raiteraju Home</title>
<meta name="description" content="Just call us to book any vehicle to travel outstation or to deliver goods">
<meta name="keywords" content="Just call us to book any vehicle to travel outstation or to deliver goods">
<meta name="robots" content="index,follow" />
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">

    $.noConflict();
    jQuery(document).ready(function(){
        jQuery("#divPaging").hide();
    })


    function fnAdSearchByCategory(Category){
        var CurrentPageNumber=jQuery('#PreviousPage').val();
        jQuery('#PreviousPage').data('value',1);
        jQuery('#NextPage').data('value',2);
        jQuery("#divAdSearch").load("AddPost/_AdSearchCategory", {Category:Category,PageNumber:1});
    }

    jQuery(document).ready(function () {
    //    jQuery("a.homeLink").click(function(){
    //        jQuery("#divHomeList").hide();
    //        jQuery("#divPaging").show();
    //        Category=jQuery(this).data("value");
    //        jQuery('#txtHiddenCategoryId').val(Category);
    //        jQuery("#divAdSearch").load("/AddPost/_AdSearchCategory", {Category:Category,PageNumber:1});
    //    });
        jQuery("a.AlistingCell").click(function(){
            VehicleTypeId = jQuery(this).data("value");
            window.location.href = '@Url.Action("BookNow", "Book")?VehicleTypeId=' + VehicleTypeId;

        });
    });

    jQuery(window).ready(function () {
        jQuery("a.homeLink").click(function () {
            VehicleTypeId = jQuery(this).data("value");
            window.location.href = '@Url.Action("BookNow", "Book")?VehicleTypeId=' + VehicleTypeId;

        });
    });


</script>
@{Html.EnableClientValidation();}
@{Html.EnableUnobtrusiveJavaScript();}

<style>
</style>

<div style="margin:0 auto; width:100%;background-color:#223535;">
    <div class="container">
        <div class="row" style="min-height:300px;">
            <div class="col-lg-1 col-md-1">

            </div>
            <div class="col-lg-8 col-md-8">
                <h3 class="FormHeading text-left pb-5" style="color:white!important">Hire Vehicle To Travel Outstation or Deliver Goods</h3>
                <label style="color:white;font-size:14px;padding-right:55px">Do you need a vehicle? Book here with us</label><a href="/Book/BookNow?VehicleTypeId=0" class="dflt-btn inactive homePageButton" tabindex="-1">Book a vehicle</a><br /><br />
                <label style="color:white;font-size:14px;padding-right:10px">Are you a vehicle owner? Attach with us to earn more</label><a href="/Partner/OwnerRegistration" class="dflt-btn inactive homePageButton" tabindex="-1">Attach your vehicle</a>

            </div>
            <div class="col-lg-3 col-md-3"> </div>
        </div>
    </div>
</div>
<div id="divHomeCatogies">
    <div class="container">
        <div class="row" style="min-height:40px">
            <div class="col-lg-4 col-md-4"></div>
            <div class="col-lg-4 col-md-4">Choose from range of vehicles</div>
            <div class="col-lg-4"></div>
        </div>
        <div class="row">

            <div class="col-lg-1">

            </div>

            <div class="col-lg-10">

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 text-center pb-3">
                    <a class="homeLink" data-value="1"><img class="listingImage" src="~/Content/images/MiniTruck.jpg" /></a><br>
                    <a class="AlistingCell" data-value="1">Mini Truck</a>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 text-center pb-3">
                    <a class="homeLink" data-value="3"><img class="listingImage" src="~/Content/images/AppiAuto.jpg" /></a><br>
                    <a class="AlistingCell" data-value="3">Appi Auto</a>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 text-center pb-3">
                    <a class="homeLink" data-value="2"><img class="listingImage" src="~/Content/images/MiniAuto.jpg" /></a><br>
                    <a class="AlistingCell" data-value="2">Mini Auto</a>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 text-center pb-3">
                    <a class="homeLink" data-value="4"><img class="listingImage" src="~/Content/images/Car4Seater.jpg" /></a><br>
                    <a class="AlistingCell" data-value="4">Car (4 Seater)</a>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 text-center pb-3">
                    <a class="homeLink" data-value="5"><img class="listingImage" src="~/Content/images/Car7Seater.jpg" /></a><br>
                    <a class="AlistingCell" data-value="5">Car (7 Seater)</a>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 text-center  pb-3">
                    <a class="homeLink" data-value="6"><img class="listingImage" src="~/Content/images/Car14Seater.jpg" /></a><br>
                    <a class="AlistingCell" data-value="6">Car (14 Seater)</a>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 text-center  pb-3">
                    <a class="homeLink" data-value="7"><img class="listingImage" src="~/Content/images/MiniBus.jpg" /></a><br>
                    <a class="AlistingCell" data-value="7">Mini Bus</a>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 text-center  pb-3">
                    <a class="homeLink" data-value="8"><img class="listingImage" src="~/Content/images/Bus.jpg" /></a><br>
                    <a class="AlistingCell" data-value="8">Bus</a>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 text-center  pb-3">
                    <a class="homeLink" data-value="9"><img class="listingImage" src="~/Content/images/Lorry.jpg" /></a><br>
                    <a class="AlistingCell" data-value="9">Lorry</a>
                </div>
            </div>

            <div class="col-lg-1"></div>
        </div>

        <div class="row" style="min-height:100px;">

        </div>
    </div>
</div>







